{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your personal details are below: <a href="{{ url_for('editprofile') }}">Edit Profile</a></p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <!--<tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>-->
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>

         <tr>
            <td>First Name:</td>
            <td>{{ account['firstname'] }}</td>
        </tr>

        <tr>
            <td>Last Name:</td>
            <td>{{ account['lastname'] }}</td>
        </tr>

        <tr>
            <td>Birthday:</td>
            <td>{{ account['birthdate'] }}</td>
        </tr>

        <tr>
            <td>Nationality:</td>
            <td>{{ account['nationality'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}